<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.example.weatherproject.filter.SecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/security/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>WeatherFilter</filter-name>
        <filter-class>com.example.weatherproject.filter.WeatherFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>WeatherFilter</filter-name>
        <servlet-name>WeatherServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.example.weatherproject.filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/auth/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <jsp-file>/WEB-INF/views/jsp/error.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrationPage</servlet-name>
        <jsp-file>/WEB-INF/views/jsp/registration.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationPage</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainPage</servlet-name>
        <jsp-file>/WEB-INF/views/jsp/main.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/security/main</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.example.weatherproject.сonfig.FactorySession</listener-class>
    </listener>
</web-app>